@tailwind base;

html {
  scroll-behavior: smooth;
}

@tailwind components;
@tailwind utilities;

/* Scroll Bar */
::-webkit-scrollbar {
  width: .6rem;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  background-color: hsl(207, 4%, 90%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(207, 4%, 80%);
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(207, 4%, 70%);
}

@layer base {
  body {
    @apply font-secondary text-secondary bg-gradient-to-b from-[#F6FAFD] to-[#FFFFFF] bg-no-repeat;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-primary text-primary;
  }
  a {
    @apply text-secondary font-semibold hover:text-accent-primary_hover transition;
  }
  .btn {
    @apply text-lg h-[60px] px-[30px] rounded-full transition text-white;
  }
  .btn-primary {
    @apply bg-accent-primary hover:bg-accent-primary_hover;
  }
  .btn-secondary {
    @apply bg-accent-secondary hover:bg-accent-secondary_hover;
  }
  .btn-quaternary {
    @apply bg-white text-base font-bold text-primary drop-shadow-primary hover:bg-accent-primary_hover hover:text-white;
  }
  .h1 {
    @apply text-[40px] xl:text-[80px] font-bold leading-[1.1];
  }
  .h2 {
    @apply text-[40px] font-bold leading-tight;
  }
  .h3 {
    @apply text-[24px];
  }
  .lead {
    @apply text-lg text-secondary font-secondary font-medium leading-relaxed;
  }
}